@model BookCategory

<div class="container">


    <form method="post">

        <div class="form-group">
            <label asp-for="CategoryName">CategoryName</label>
            <input class="form-control" placeholder="Enter CategoryName" asp-for="CategoryName">
        </div>

        <button type="submit" class="btn btn-primary" >Submit</button>

    </form>


</div>