@model List<BookCategory>
@{
    int count = 0;
}

<div class="container">
    <h1>Categories</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Book Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Books.Count</td>
                    <td>
                        <a class="btn secondary" asp-action="Update" asp-route-Id=@item.Id>Update</a>
                        <a class="btn danger" asp-action="Delete" asp-route-Id=@item.Id>Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-primay" asp-action="Create">Create</a>

</div>